
body {
/* TODO: add <a target="_blank" href="https://www.Vecteezy.com/">Vector Art by Vecteezy</a> in for attribution */
   background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(img/spring_cleaning.png);
   background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(img/spring_cleaning.png);
   background-repeat: no-repeat;
   background-position: left bottom;
   background-size: cover, 70%;
}

#whySign {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 0;
	height: 472px;
	-ms-transform: translateY(-55%);
	transform: translateY(-55%);
	padding: var(--header-height);
	font-weight: bold;
	font-size:25px;
	color: var(--main-red);
}

li {
	padding-bottom: 20px;
}

.signUpForm {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 100%;
	-ms-transform: translate(-100%, -55%);
	transform: translate(-100%, -55%);
	padding: var(--header-height);
	font-size:20px;
}

.tagline1 {
	font-size: 30px;
	color: #000;
	font-weight: bold;
	margin-bottom: 10px;
}

.tagline2 {
	font-size: 18px;
	color: #000;
	height: 50px;
}

#signUpNameBox,
#signUpEmailBox,
#signUpEmailVer, 
#signUpPasswordBox {
	width: var(--sign-up-box-width);
	height: 40px;
	border-radius: 5px 5px 5px 5px;
	background: white;
	padding: 10px;
	font-size: 18px;
	margin-top: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
}

.btn1{
	width: 250px;
	height: 40px;
	left: 750px;
	top: 625px;
	background: var(--main-red);
	font-family:'Lucida Grande';
	font-size: 18px;
	color: white;
	border-radius: 5px 5px 5px 5px;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	margin-top: 15px;
	cursor: pointer;
	outline: none;
	
}