/* --- General Setup --- */

:root {
	--nav-padding: 11px;
  --nav-logo-height: 38px;
	--main-red: #C0392B;
  --sidebar-width: 300px;
  --padding-below-nav: 20px;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CLEAR FIX */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html,
body {
    font-size: 18px;
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;;
    text-rendering: optimizeLegibility;
}

/* The next two items prevent 'overscrolling' */
html {
	overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}


ul {
    list-style: none;
    padding: 0 0;
}

