/* Chore List */
.choreSection {
	margin-top: var(--header-height);
	min-height: calc(100vh - var(--header-height));
	width: calc(100vw - var(--sidebar-width));
	margin-left: var(--sidebar-width);
	padding: var(--padding-below-nav);
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(img/scu_background.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(img/scu_background.jpg);
	background-size: cover;
}

.addChore {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 20px;
}

.addChore input[type=text] {
	width: 100%;
	font-size: 100%;
	box-sizing: border-box;
	color: #FFF;
	padding: 10px;
	background-color:rgba(100,100,100,.7);
	outline: none;
	border-radius: 5px;
	border: none;

}

.addChore input[type=text]::placeholder {
	color: rgba(255,255,255,.6);
}

.choreSection ul {
	width: 90%;
	margin-left: 5%;	
}

.choreSection ul li {
	width: 100%;
	background-color: #FFF;
	padding: 5px 10px;
	margin: 10px 0px;
	border-radius: 5px;
}

.choreSection ul li input {
	-webkit-appearance: none;
	appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 6px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	outline: none;

}

.choreSection ul li input:active, .choreSection ul li input:checked:active {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.choreSection ul li input:checked:after {
	content: '\2714';
	font-size: 10px;
	position: absolute;
	top: -1px;
	left: 2px;
	color: var(--main-red);
}

.choreSection ul li input:checked + span {
	text-decoration: line-through;
	color: #444;
}