/* Sidebar */
.sidebarSection {
	min-height: calc(100vh - var(--header-height));
	width: var(--sidebar-width);
	padding: var(--padding-below-nav);

	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: var(--header-height);
    left: 0;
}